{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "multiline-ternary": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@material-ui/*/*/*", "!@material-ui/core/test-utils/*"]
      }
    ],
    "one-var": "off",
    "semi": ["error", "always", {
      "omitLastInOneLineBlock": true
    }],
    "space-before-function-paren": "off"
  },
  "parser": "babel-eslint",
  "plugins": [
    /**
     *
     * Only warn for EVERYTHING (for now)
     *
     */
    "only-warn" 
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}