{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "multiline-ternary": "off",
    "react/prop-types": "off",
    "indent": "off",
    "one-var": "off",
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "space-before-function-paren": "off"
  },
  "parser": "babel-eslint",
  "plugins": [
    /**
     *
     * Only warn for EVERYTHING (for now)
     *
     */
    "only-warn"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
