#
# Should run on each push, this should include pull requests
#
# If the commit message starts with "skip:build" we will skip this action
#
# If the commit message starts with "Release " we skip build
#

name: Build

on:
  push:
    tags:
      - '*'

jobs:
  build:
    if: |
      (startsWith(github.event.head_commit.message, 'skip:build') != true) &&
      (startsWith(github.event.head_commit.message, 'Release ') != true)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Build on Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run build
      - run: npm run test
